.spacerTop {
    margin-top: 50px;
}

.toolLink {
    font-size: 13px;
    vertical-align: bottom;
    color: #fff;
    font-family: Roboto-Light;
}

.toolLink:hover {
    color: #fff;
    font-family: Roboto-Light;
}

.toolLink:visited {
    color: #fff;
    font-family: Roboto-Light;
}

.input-group-addon {
    color: #ff0000;
    background-color: #fff;
    font-size: 9px;
}

.msg {
    color: maroon;
    font-weight: bold;
}

.red {
    color: #ff0000;
    font-size: 9px;
    vertical-align: top;
}
