.darkimg{
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.card-title{
      color: white;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.microscope{
  height: 2em;
  width: 2em;
}

.container{
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: black;
}

#svg1{
  margin-left: 15px;
}
