.darkimg{
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.card-title{
      color: white;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.microscope{
  height: 2em;
  width: 2em;
}

.container{
  padding-left: 5%;
  padding-right: 5%;
}

.card-text {
  color: black !important;
}

.camic_logo{
  margin-left: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.blue.darken-3{
    #1565C0 !important
}
